{% extends 'base.html' %} <br />

{% block title %}Register{% endblock title %} <br />

{% block content %} <br />

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<div class="container">
  <section id="content">
    <form action="">
      <h1>Registration Form</h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          required=""
          id="password"
        />
      </div>
      <div class="ml-3">
        <input type="submit" value="Register" />
        <a href="{% url 'loginview' %}">All Ready Have An Account?</a>
      </div>
    </form>
    <!-- form -->
  </section>
  <!-- content -->
</div>
<!-- container -->
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
{% endblock content %}
