.jumad {
    background: #ebe8e8;
    padding: 4rem;
    border-radius: 2rem;
}

.jumad h1 {
    margin-bottom: 2rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    
    
    .jumad {
  
        padding: 8px;
  
    }
    
    

}