{% extends 'base.html' %} <br />

{% block title %}Admission and Registration Policies{% endblock title %} <br />

{% block content %} <br />

{% load static %}

<link rel="stylesheet" href="{% static 'css/admission.css' %}" />

<div class="container jumad">
  <h1>Admission and Registration Policies</h1>
  <div>
    <h6>Admission Requirements:</h6>
    <h6>Admission Requirements for Bachelor’s Degree</h6>
    <p>
      For all the Bachelors programs such as B.Sc (Hons.) in CSE, B.Sc. (Hons.)
      in EEE, B.Sc in Civil Engineering, Bachelor of Architecture, BBA, English,
      LL.B (Hons) and Islamic Studies, the following admission requirements must
      be fulfilled:
    </p>
    <h6>Under national curriculum of Bangladesh:</h6>
    <p>
      ♦ Minimum Second division or GPA 2.5 or equivalent grade at each of SSC
      and HSC or other equivalent public examinations. But in case of GPA 2.0 in
      any of the above mentioned examinations, the aggregate GPA must be minimum
      6.0. For the children of a Freedom fighter, the minimum score of GPA ‘5.0’
      must be secured aggregately in S.S.C and H.S.C or any other public
      examinations.
    </p>
    <h6>Under British Educational Curriculum:</h6>
    <p>
      ♦ ‘O’ level examination 5 subjects and for ‘A’ level examination 2
      subjects must be passed respectively from which at least ‘B’ grade or GPA
      ‘4’ must be obtained in 4 courses and ‘C’ grade or GPA ‘3.5’ must be
      obtained in the remaining three subjects out of total 7 courses in both
      the levels. <br />
      ♦ Students are allowed to get admitted into Undergraduate programs within
      4 (four) years of passing the H.S.C or equivalent examinations.
    </p>
    <h6>Admission Requirements for Master Degree:</h6>
    <p>
      ♦ For all the Masters programs such as MBA, Executive MBA, M.A. in
      English, L.L.M and M.A. in Islamic Studies following admission
      requirements must be fulfilled: <br />
      ♦ Fulfill all the above mentioned qualifications for admission into the
      Undergraduate programs with GPA 2.0 in any Bachelor’s degree. <br />
      ♦ Applicants may be selected for Admission into the academic programs on
      the basis of (a) past Academic attainments and/ or (b) Admission test
      scores. <br />
      ♦ University authority reserves the right to determine the minimum
      criteria either in compliance with the rules for Admission of UGC or for
      policy requirement of the university itself.
    </p>
  </div>
</div>

<!-- container -->
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
{% endblock content %}
